/* FOOTER AREA */
.footer-area{
    height: auto;
    text-align: center;
    background-color: black;
}

.footer-area * {
    color: white;
}
.footer-area > .sns > .item{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.footer-area > .sns > .item > i{
    font-size: 24px;
}
.footer-area > .info > p{
    font-size: 16px;
    padding: 10px 0;
}